<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
				<!-- TODO: Modify the ejs code below, to conditionally set the image_src to be from our chosen player -->
				  <% 
				  var image_src = '../resources/img/helmet.jpg';
				  
				  %>
				<img class="card-img-top" id="player_img" src= "<%- image_src %>" alt="Image of Football Player">
				  <div class="card-body mx-auto">
					<form class="form" action="/player_info/post" method="get">
						<select class="custom-select" name="player_choice" onchange="this.form.submit()">
							 <option selected>Select Player</option>
							 <!-- TODO: Populate our select with player options
							 			For each player, set a new option with a value matching the palyer's id, 
							 			but will display the player's name-->

						<%- PlayerOptions %>

						</select>
					</form>
				  </div>
				</div>
			</div>
			<div class="col-8">
				<div class="table-responsive">
					<table class="table">
						<tr>
							<!-- TODO: Set Player Information
							 			If a player has been selected, fill in their information in each of the fields below.
							 		    You'll need to calculate here the player's average rushing, receiving, and passing yards.-->

							<% var year = values[choice - 1].year; %>
							<% var major = values[choice - 1].major; %>
							<% var passingYards = values[choice - 1].passing_yards; %>
							<% var avgPassing = passingYards / games; %>
							<% var rushingYards = values[choice - 1].rushing_yards; %>
							<% var avgRushing = rushingYards / games; %>
							<% var received = values[choice - 1].receiving_yards; %>
							<% var avgReceived = received / games; %>
							<% avgPassing = avgPassing.toFixed(2); %>
							<% avgRushing = avgRushing.toFixed(2); %>
							<% avgReceived = avgReceived.toFixed(2); %>

							<th>Year</th>
							<td><%- year %></td>
						</tr>
						<tr>
							<th>Major</th>
							<td><%- major %></td>
						</tr>
						<tr>
							<th>Games Played</th>
							<td><%- games %></td>
						</tr>
						<tr>
							<td>Passing Yards: <%- passingYards %></td>
							<td>Avg. Passing Yards: <%- avgPassing %></td>
						</tr>
						<tr>
							<td>Rushing Yards: <%- rushingYards %></td>
							<td>Avg. Rushing Yards: <%- avgRushing %></td>
						</tr>
						<tr>
							<td>Receiving Yards: <%- received %></td>
							<td>Avg. Receiving Yards: <%- avgReceived %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
  
<% include ../partials/footer %>